<div class="row">
  <div class="col s12">
    <h1> Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, dolor a aliquam ultrices, turpis nisl maximus justo, nec semper augue dolor vitae orci. Curabitur egestas posuere mauris. Quisque varius erat ac pharetra posuere. Nulla faucibus, ex in dictum porta, dui sapien vehicula nulla, nec venenatis enim purus quis justo. Sed luctus luctus aliquet. Etiam tristique feugiat risus in hendrerit. Mauris lobortis dui nec blandit fermentum. Pellentesque placerat, nunc pellentesque fringilla convallis, elit elit ultricies urna, in vehicula arcu metus efficitur metus. Integer efficitur ipsum sit amet risus tristique, congue molestie massa euismod.
    </p>
  </div>
</div>